extends ../includes/layout.pug

block content
  


       
    - var count = 0    
    each val in blogs
        if count === 0
            div(class='heroSettings' data-image = val.heroSettings.heroImg
                             data-size = val.heroSettings.size
                             data-gradient = val.heroSettings.gradient
                             data-positionx = val.heroSettings.positionX
                             data-positiony = val.heroSettings.positionY)
            div(class='titleSettings' data-fontsize = val.titleSettings.fontSize
                              data-fontcolor = val.titleSettings.fontColor
                              data-fonttop   = val.titleSettings.fontTop
                              data-fontleft = val.titleSettings.fontLeft)
            div.blog__index__post--first
                div.blog__hero-img
                    div.blog__hero-text(style='color: '+ val.titleSettings.fontColor+';')
                        a(href='/blog/'+val.url) #{val.title}
                div.blog__text__date
                    |#{val.postDate}
                div.blog__body
                    |!{val.content}
                div.blog__tags
                    div.blog__tags--text Tags:
                    - var z = 0
                    each tag in val.tags
                        if z < (val.tags.length - 1)
                            div.blog__tags--box: a(href='/blog/tag/'+tag) #{tag}

                        else 
                            div.blog__tags--box: a(href='/blog/tag/'+tag) #{tag}
                    - z++
        
        -count++
                                 
    div.blog__index      
        - var x = 0 
        each val in blogs
            if x > 0
                div.blog__index__post 
                    div.blog__image(style='background-image: url('+ val.heroSettings.heroImg +');')
                        div.blog__text__title(style='color: '+ val.titleSettings.fontColor+';')
                            a(href='/blog/'+val.url) #{val.title}
                    p Posted by #{val.author.username} on #{val.postDate}
                    div.blog__body
                        |!{val.content}
                    div.blog__read-more
                        a(href='/blog/'+val.url) Read more
                    div.blog__tags
                        div.blog__tags--text Tags:
                        - var z = 0
                        each tag in val.tags
                            if z < (val.tags.length - 1)
                                div.blog__tags--box: a(href='/blog/tag/'+tag) #{tag}

                            else 
                                div.blog__tags--box: a(href='/blog/tag/'+tag) #{tag}
                            - z++
            - x++       
                    
    

    block append footer
       
        script(src='../../javascript/index.js')