//- includes/show.pug
doctype html
html
    include ../includes/header.pug
    body
    div.blog
        div.blog.blog__title
            h1= blog.title
        div.blog.blog__date
            p Posted #{blog.postDate}
        div.blog.blog__body
            p !{blog.content}
        div.blog.blog__tags
            p=blog.tags
        div.blog.blog__edit
            a(href='/blog/'+blog.title+'/edit'): button.blog.blog__edit.blog__edit__btn--edit Edit post
            form(method='POST' action='/blog/'+blog.title+'?_method=DELETE')
                button.blog.blog__edit.blog__edit__btn--delete Delete post
        
            div.blog.blog__comment
                h2 Reader Comments
                a(href='/blog/'+blog.title+'/comments/new'): button.blog.blog__comment__btn--add Add a comment
                if blog.comments
                    each val in blog.comments
                        div.blog.blog__comment__entries
                            div.blog.blog__comment__entries--author
                                p !{val.username}
                            div.blog.blog__comment__entries--comment
                                p !{val.content}
                            div.blog.blog__comment__entries--postDate
                                p posted on !{val.postDate}
                            if val.editDate
                                div.blog.blog__comment_entries--editDate
                                    p last edited on !{val.editDate}
                            a(href='/blog/'+blog.title+'/comments/'+val._id+'/edit'): button.blog.blog__comment__btn--edit Edit comment
                            form(method='POST' action='/blog/'+blog.title+'/comments/'+val._id+'?_method=DELETE')
                                button.blog.blog__comment__btn--delete Delete comment
    include ../includes/footer.pug
