extends ../includes/layout.pug

//- block append head
    
                
block content
    <div id="fb-root"></div>
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1905109646218883&autoLogAppEvents=1'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    include ../includes/mixins.pug
    div.bionicProse(data-blogs=blogs)
        div.sidebar--left
        div.blog__index__post--first
            if blog.headerSettings
                div.blog__header__image(style='background-image: url('+blog.headerSettings.headerImg+');background-position: '+blog.headerSettings.positionX+'px '+blog.headerSettings.positionY+'px; padding-top: '+blog.headerSettings.size+'%;')
                    div.blog__title(style='color: '+ blog.titleSettings.fontColor+';top: '+blog.titleSettings.fontTop+'%;left: '+blog.titleSettings.fontLeft+'%;font-size:' +blog.titleSettings.fontSize+'em;')
                        |#{blog.title}
                            
            else
                h1= blog.title
            div.blog__post-date
                |Posted by #{blog.author.username} on #{blog.postDate}
            div.blog__body
                p !{blog.content}
            if blog.tags
                div.blog__tags
                    div.blog__tags__text Tags:
                    - var z = 0
                    each tag in blog.tags
                        if z < (blog.tags.length - 1)
                            a(href='/blog/tag/'+tag): button.tags__btn  #{tag}

                        else 
                            a(href='/blog/tag/'+tag): button.tags__btn  #{tag}
                    - z++
            div.social
                <div class="fb-share-button social__btn" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                a.social__btn.twitter-share-button(href="https://twitter.com/intent/tweet" data-size="large") Share on Twitter</a>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                    <script type="IN/Share"></script>
                    
            div.blog__edit
                if(currentUser && blog.author.id == currentUser.id)
                    a(href='/blog/'+blog.url+'/edit'): button.comments__btn Edit post
                    form(method='POST' action='/blog/'+blog.url+'?_method=DELETE')
                        button.comments__btn Delete post
                
            div.comments#comments
                div.comments__header
                    |Reader Comments
                div.comments__add
                    button.comments__btn.comments__btn--add(onclick='reply(null, \''+blog.url+'\')') Add Your Comment
                if comments
                    each val in comments
                        if(!val.originalPost)
                            div.comments__entry(id='comment'+val._id)
                                div.comments__entry__author
                                    div.comments__entry__author--pic
                                        img(src=val.author.pic)
                                    div.comments__entry__author--name
                                        |#{val.author.username}
                                    div.comments__entry__postDate
                                        p posted on !{val.postDate}
                                    if val.editDate
                                        div.comments__entry__editDate
                                            p last edited on !{val.editDate}
                                div.comments__entry__body
                                    div.comments__content
                                        p #{val.content}
                                div.comments__buttons
                                    if(currentUser && val.author.id == currentUser.id && val.editable === true)   
                                        a(href='/blog/'+blog.url+'/comments/'+val._id+'/edit'): button.comments__btn Edit
                                        form(method='POST' action='/blog/'+blog.url+'/comments/'+val._id+'?_method=DELETE')
                                            button.comments__btn Delete
                                    if(val.editable === true)
                                        button(onclick='reply(\''+ val._id+'\', \''+blog.url+'\')').comments__btn reply 
                                    
                            if val.replies
                                +printReplies(val)                 
                              
        
        +sideBar
   
    block append footer
       
        script(src='../../javascript/show.js')
        script(src='../../javascript/global.js')
