extends ../includes/layout.pug

block content

    

    div.control-panel
        h1 Admin Panel
        div.control-panel__sidebar

            div.utility
                ul
                    li
                        a(href='/logout') Logout
                    li
                        a(href='/') Homepage
                    li
                        a(href='/blog') Blogs
                    li
                        a(href='/admin/analytics') Analytics
        
        div.control-panel__main
            div.blog-posts--show
                h2 Blog Posts
                    span(onclick='show("posts")').icon.fas.fa-plus

                div.blog-posts.hidden
                    each val in blogs
                        div.blog__table
                            div.table__header.header--1
                                |title
                                div.table__data
                                    a(href='/blog/'+val.url) #{val.title}
                            div.table__header.header--2
                                |Author
                                div.table__data
                                    |#{val.author.username}
                            div.table__header.header--3
                                |State
                                div.table__data
                                    |#{val.state}
                            div.table__header.header--4
                                |post date
                                div.table__data
                                    |#{val.postDate}
                            div.table__header.header--5
                                |edit date
                                div.table__data
                                    |#{val.editDate}
                            div.table__header.header--6
                                |maintenance
                                div.table__data.maintenance
                                    a(href='/blog/' + val.url + '/edit'): button.profile__btn Edit
                                        form(method='POST' action='/blog/'+val.url+'?_method=DELETE')
                                            button.profile__btn Delete
                                            if val.state == 'draft'
                                                form(method='POST' action='/blog/'+val.url+'?_method=PUT')
                                                    button.profile__btn(type='submit' name='state' value='publish-only') Publish
               
            if(comments.length > 0)    
                div.comments--show 
                    h2 Your Comments
                        span(onclick='show("comments")').icon.fas.fa-plus
                
                    div.comments.hidden
                        each val in comments
                            div.comment__table
                                div.table__header.header--1
                                    |comment
                                    div.table__data
                                        |#{val.content}
                                div.table__header.header--2
                                    |Author
                                    div.table__data
                                        #{val.author.username}
                                div.table__header.header--3
                                    |reply to
                                    div.table__data
                                        |#{val.replyTo}
                                div.table__header.header--4
                                    |Original Post
                                    div.table__data
                                         a(href='/blog/'+val.blogPost.url) #{val.blogPost.title}
                                div.table__header.header--5
                                    |post date/edit date
                                    div.table__data
                                        |#{val.postDate} /
                                        p #{val.editDate}
                                div.table__header.header--6
                                    |maintenance
                                    div.table__data.maintenance
                                        a(href='/blog/' + val.blogPost.url + '/comments/'+val._id+'/edit'): button.profile__btn Edit
                                            form(method='POST' action='/blog/'+val.blogPost.url+'/comments/'+val._id+'?_method=DELETE')
                                                button.profile__btn Delete
            
            div.users--show 
                h2 Users
                    span(onclick='show("users")').icon.fas.fa-plus
                    
                - var y = 0;
                div.users.hidden
                    each val in users 
                        - y++
                        form(action='/user/'+val._id+'?_method=PUT' method='POST' onsubmit='return updateUser('+y+')').user__form
                            div.table__user
                                    |User #{val._id} 
                                   
                            div( id ='user' + y).user__table
                                
                                div.table__header.header--1
                                    |Local Username
                                    div.table__data(class='user'+y id = 'lUsername' + y)
                                        |#{val.local.username}
                                        input(type='text' name='username' id='lUsername--hidden' + y).hidden    
                                div.table__header.header--2    
                                    |Local email
                                    div.table__data(class='user'+y id = 'lEmail' + y)
                                        |#{val.local.email}
                                        input(type='text' name='email' id = 'lEmail--hidden' + y).hidden
                                div.table__header.header--4 
                                    |Local name
                                    div.table__data(class='user'+y id = 'lName' + y)
                                        |#{value=val.local.name}
                                        input(type='text' name='name' id = 'lName--hidden' + y).hidden
                                div.table__header.header--3
                                    |profile pic
                                    div.table__data(class='user'+y id = 'lPic' + y)
                                        |#{val.pic}
                                        input(type='text' name='pic' id = 'lPic--hidden' + y).hidden
                                div.table__header.header--5 
                                    |Social Media
                                    div.table__data
                                        |facebook :
                                        if val.facebook.id
                                            |yes
                                        else
                                            |no
                                        p google: 
                                        if val.google.id
                                            |yes
                                        else
                                            |no
                                div.table__header.header--7 
                                    |role
                                    div.table__data(class='user'+y id='role'+y)
                                        |#{val.role}
                                        input(type='text' name='role' id='role--hidden' + y).hidden
                                div.table__header.header--6 
                                    |Maintenance
                                    div.table__data.maintenance
                                        button(type='button' onclick='edit('+y+')').edit.profile__btn.btn--general Edit
                                        button(data-userId=y type='submit').submit.profile__btn.btn--general Submit
                                        


                               
                                

       

    script(src='../../javascript/controlPanel.js') 
