//- includes/head.pug
head
    title= title
    meta(charset='utf-8')
    meta(name='viweport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet")
    link(type='text/css' rel='stylesheet' href='../stylesheets/show.css')

- var messages = getMessages()

if messages.notify
    each msg in messages.info
        .info= msg
if messages.error
    each msg in messages.error
        .error= msg
//- if messages
//-     each val in messages
//-         div.message.message--error #{val}
//- if success
//-     div.message.message--success #{success}