include mixins.pug
doctype html
html
    head
        block head
            title= title
            meta(charset='utf-8')
            <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no'>
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
            link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Codystar|Cutive+Mono|Diplomata+SC|Hi+Melody|IBM+Plex+Mono|Megrim|Space+Mono|Text+Me+One" rel="stylesheet") 
            link(id='bpStyles' type='text/css' rel='stylesheet' href='../stylesheets/main.css')

    //- var messages = getMessages()

    //- if messages.notify
    //-     each msg in messages.info
    //-         .info= msg
    //- if messages.uError
    //-     each msg in messages.uError
    //-         .uError= msg
    body 
        div.nav
            div.overlay
                |Bionic Prose
                div.overlay__x(onclick='menu("x")')
                    i.fas.fa-times.fa-3x
                div.overlay__menu
                    div.overlay__menu__item--1
                        button.overlay__menu__btn Home
                    div.overlay__menu__item--2
                        a(href='/about'): button.overlay__menu__btn About
                    div.overlay__menu__item--3
                        a(href='/projects'): button.overlay__menu__btn Projects
                    div.overlay__menu__item--4 
                        a(href='/contact'): button.overlay__menu__btn Contact
                    div.overlay__search.overlay__menu__item--5 
                        form(action='/blog/search' method='POST').overlay__search__form
                            button.overlay__menu__btn search:
                            input(type='text' name='search' onclick='showBionicWriter("-")' onblur=('showBionicWriter("+")')).overlay__search__input
                            
                    div.overlay__menu__item--6
                        |Something else?
       
            
            div.nav__banner
                span.nav__title
                    |bp
                div.nav__menu--hamburger(onclick='menu("+")')
                    i.fas.fa-bars.fa-3x
            div.nav__menu
                div.nav__menu__item--1
                    a(href='/blog') Home
                div.nav__menu__item--2
                    a(href='/about') About
                div.nav__menu__item--3
                    a(href='/projects') Projects
                div.nav__menu__item--4
                    a(href='/contact') Contact
                    #{messages.info}
                if messages
                    if messages.error
                        div.messages__error.messages
                            |#{messages.error}
                    if messages.info
                        div.messages__info.messages
                            |#{messages.info}
            

                


      
         

    block content  
    block foot
    
        div.footer__links
            a(href='/') Home
            if currentUser
                a(href='/profile') Profile Page
                a(href='/logout') Logout
            else
                a(href='/login') Login
            a(href='acknowledgements') Acknowledgements
            p Copyright (c) BionicProse
